.overlayWrap {
  width: 100%;
  height: 100vh;
  .shoesImgs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .shoesProduct {
      width: 100%;
      .ShoesImgBox {
        width: 100%;
        .shoesBigImg {
          width: 100%;
        }
      }
    }
  }
}
