.itemDetail {
  .detailContent {
    width: calc(100% - 449px);
    padding: 0 54px;
    padding-bottom: 300px;

    .detailImgs {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: -5px;

      .detailProduct {
        flex: 1 48%;

        margin: 5px;

        .detailImg {
          position: relative;
          width: 100%;
          height: 435px;
        }
      }
    }
  }

  .detailSection {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    .detailInfo {
      width: 30%;

      .shoesImg {
        width: 435px;
        height: 435px;
      }
      .shoesName {
        width: 210px;
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;
      }
      .detailOption {
        width: 400px;

        .itemCount {
          display: flex;
          padding: 20px 0 20px 0px;
          border-bottom: 1px solid lightgray;
        }
        .discountPercent {
          color: coral;
          font-size: 22px;
          font-weight: 600;
        }

        .discounted {
          text-decoration: line-through;
        }

        .detailName.price0 {
          .discountPrice {
            display: none;
          }

          .discountPercent {
            display: none;
          }

          .discounted {
            text-decoration: none;
          }
        }
        .review {
          width: 100%;

          display: flex;
          justify-content: space-between;
        }
      }
      .namePrice {
        display: flex;
        justify-content: space-between;
        color: #2e2e2e;
      }
      .discountPrice {
        text-align: right;
        color: coral;
        font-weight: 600;
        font-size: 18px;
      }
      .shoesColor {
        position: relative;
        margin-top: 30px;
      }
      .shoesColorImg {
        width: 72px;
        height: 72px;
        margin-right: 5px;
      }
      .sizetype {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 0;

        .sizeGuide {
          font-size: 14px;
          opacity: 0.5;
        }
        .sizeSelect {
          font-weight: 500;
        }
      }
      .itemNotify {
        color: coral;
        font-size: 14px;
        font-weight: 600;
        padding: 20px 0 20px 0;
      }

      li {
        display: inline-flex;
      }
      .itemPurchaseWrap {
        padding-top: 20px;
        border-bottom: 1px solid lightgray;
        .itemPurchase {
          width: 100%;
          text-align: center;
          border: 1px solid black;
          border-radius: 30px;
          padding: 20px;
          background-color: black;
          color: white;
          font-weight: bold;
        }
        .itemBasketWish {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          .btn-modal {
            color: black;
            border: 1px solid black;
            text-align: center;
            border-radius: 30px;
            width: 49%;
            margin-top: 10px;
            font-weight: bold;
          }
        }

        .itemWish,
        .itemBacket {
          border: 1px solid black;
          text-align: center;
          border-radius: 30px;
          padding: 20px;
          width: 49%;
          margin-top: 10px;
          font-weight: bold;
        }
      }
      .itemPickUp {
        // width: 100%;
        // transform: translate(10%, 0);
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        font-size: 15px;
        .itemService {
          font-size: 13px;
        }
        .focus {
          margin-top: 1px;
          text-decoration: underline;
          font-size: 12px;
        }
      }
      .itemSideReview {
        padding: 27px 0 5.5px 6px;
        border-bottom: 1px solid lightgray;
      }

      .reviewContents {
        padding-top: 20px;
        width: 100%;
      }

      .shoesInfo {
        border-bottom: 1px solid lightgray;
        padding-bottom: 15px;
        .shoesContent {
          font-size: 14px;
          font-weight: bold;
          padding: 20px 0 20px 0;
        }
        .shoesDescription {
          font-size: 14px;
          line-height: 20px;
          padding: 15px 0 15px 0;
        }
        .shoesStyle {
          font-size: 14px;
          line-height: 30px;
        }
        .shoesMoreInfo {
          font-size: 14px;
          color: gray;
          text-decoration: underline;
          padding-top: 20px;
        }
      }
      .itemSide {
        display: flex;
        justify-content: space-between;
        padding: 27px 0 28px 6px;
        border-bottom: 1px solid lightgray;
      }
      .itemdetailRight {
        display: flex;
        justify-content: space-between;
      }

      .itemShip {
        display: flex;
        justify-self: end;
        margin-right: 10px;
        color: gray;
      }

      .open {
        width: 15px;
      }
    }
  }
}

.itemWish {
  display: flex;
  justify-content: center;
  align-items: center;

  .heart {
    margin-left: 5px;
    color: red;
    font-size: 25px;
  }
}
